# My Aliases

alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'
alias mkdir='mkdir -p'

alias h='history'
alias which='type -a'
alias ..='cd ..'
alias ...='cd ../..'
alias ls='ls -AGl'
alias edit='mvim'
alias ccd='clear && cd'
alias personal='cd ~/src/personal/'
alias tm='cd ~/src/trackmaven/'
alias killpyc='find . -name \*.pyc -delete'

alias tmux="tmux -2"
alias mux="tmuxinator"

alias ku="kubectl"

dm-up() {
    docker-machine env default
    eval $(docker-machine env default)
    echo "Docker Machine in running and activated."
}
