# My Aliases

alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'
alias mkdir='mkdir -p'

alias h='history'
alias which='type -a'
alias ..='cd ..'
alias ...='cd ../..'
alias ls='ls -AGl'
alias edit='vim'
alias ccd='clear && cd'
alias personal='cd ~/src/personal/'
alias tm='cd ~/src/trackmaven/'
alias killpyc='find . -name \*.pyc -delete'

alias tmux="tmux -2"
