layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="zjstatus"
        }
    }

    tab name="ALLPDL" focus=true {
        pane split_direction="vertical" {
            pane size="67%"
            pane split_direction="horizontal" {
                pane
                pane
            }
        }
    }

    tab name="WEB" {
        pane split_direction="vertical" {
            pane size="67%"
            pane split_direction="horizontal" {
                pane
                pane
            }
        }
    }

    tab name="MISC" {
        pane split_direction="vertical" {
            pane size="67%"
            pane split_direction="horizontal" {
                pane
                pane
            }
        }
    }
}
